html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after{
    box-sizing: inherit;
  }

body {
    background: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: #F8F8F8;
    border-radius: 16px;
    width: 624px;
    margin: 16px;
    padding: 32px;
}

.person {

}

.person__name {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
}

.person__job-title {
    color: #545454;
    margin: 0;
    font-size: 18;
    font-style: italic;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
}

.person__link {
    color: #E20613;
}

.special {
    color: #ED6D05;
    font-weight: normal;
}